* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: Beautiful-Sayings;
    src: url(./Fonts/Beautiful-Sayings.otf);
}

@font-face {
    font-family: Goodnight-London-Sans;
    src: url(./Fonts/Goodnight-London-Sans.ttf);
}

@font-face {
    font-family: Aeonik-Light;
    src: url(./Fonts/Aeonik-Light.otf);
}

@font-face {
    font-family: Aeonik-Regular;
    src: url(./Fonts/Aeonik-Regular.otf);
}

@font-face {
    font-family: Aeonik-Bold;
    src: url(./Fonts/Aeonik-Bold.otf);
}

@font-face {
    font-family: PocusPrimera;
    src: url(./Fonts/PocusPrimera.ttf);
}

:root {
    /* background colors  */
    --bg-primary-color: #adb5bd;
    --bg-secondary-color: #212529;
    --bg-tertiary-color: #dee2e6;


    /* text colors */
    --text-primary-color: #000000;
    --text-secondary-color: #0c1821;
    --text-tertiary1-color: #f8f9fa;
    --text-tertiary2-color: #343a40;

    /* spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

main {
    height: 100%;
    width: 100%;
    /* background-color: var(--bg-tertiary-color); */
    background-image: url(https://i.pinimg.com/1200x/cf/05/31/cf0531b6c53e2fc6c33819808ac568be.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    gap: var(--space-md);
}

main .sidebar {
    height: 40%;
    width: 100%;
    background-color: var(--bg-secondary-color);
    opacity: 0.95;
    border: 2px solid var(--text-tertiary2-color);
    border-radius: var(--border-radius-lg);
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--space-sm);
}

main .sidebar h1 {
    color: var(--text-tertiary1-color);
    font-size: 70px;
    letter-spacing: 1px;
    font-family: Beautiful-Sayings;
    text-align: center;
}

main .sidebar h2 {
    color: var(--text-tertiary1-color);
    font-size: 35px;
    font-family: Goodnight-London-Sans;
    text-align: center;
}

main .sidebar h2 input {
    font: inherit;
    border: none;
    outline: none;
    color: var(--text-tertiary1-color);
    background: transparent;
    text-align: center;
}

main .sidebar h2 input::placeholder {
    color: var(--text-tertiary1-color);
    opacity: 0.3;
}

main .sidebar .sub-sec {
    height: 40%;
    width: 100%;
    /* background-image: url(https://i.pinimg.com/1200x/a6/bd/4d/a6bd4db7ee7053689bd971b36cbcd1ef.jpg); */
    background-image: url(https://i.pinimg.com/1200x/cf/05/31/cf0531b6c53e2fc6c33819808ac568be.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-lg);
    display: flex;
    justify-content: space-between;
}

main .sidebar .sub-sec .part1,
main .sidebar .sub-sec .part2 {
    height: 100%;
    width: 50%;
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* gap: var(--space-sm); */
}

main .sidebar .sub-sec .part1 h3,
main .sidebar .sub-sec .part2 h3 {
    color: var(--text-primary-color);
    font-size: 25px;
    font-family: Aeonik-Bold;
    letter-spacing: 1px;
}

main .sidebar .sub-sec .part1 h4,
main .sidebar .sub-sec .part2 h4 {
    color: var(--text-secondary-color);
    font-size: 20px;
    font-family: Aeonik-Light;
    letter-spacing: 1px;
}

main .sidebar button {
    height: 25%;
    width: 30%;
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-sm);
    border: 2px solid var(--text-tertiary1-color);
    outline: none;
    color: var(--text-tertiary1-color);
    font-size: 15px;
    font-family: Aeonik-Bold;
    cursor: pointer;
}

main .sidebar button:active {
    scale: 97%;
}

/* Boxes */
.box {
    border: 2px solid var(--text-tertiary2-color);
    border-radius: var(--border-radius-lg);
    padding: var(--space-md);
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
    border-radius: var(--border-radius-lg);
}

.box h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: PocusPrimera;
    letter-spacing: 2px;
    /* background-color: var(--text-tertiary1-color); */
    color: var(--text-tertiary1-color);
    padding: var(--space-md);
    border-radius: var(--border-radius-md);
}

.quote {
    /* height: auto; */
    /* background-image: url(https://i.pinimg.com/1200x/59/61/38/596138beb239ada8aab67dbb4e288be7.jpg); */
    background-image: url(https://i.pinimg.com/1200x/02/6f/3c/026f3cf9834f2382e64c441c054ba1fd.jpg);
}

.goals {
    /* height: 20%; */
    background-image: url(https://i.pinimg.com/736x/61/a1/5f/61a15f67d27f4b4cb60b435ae415ba25.jpg);
}

.todo {
    /* height: 20%; */
    background-image: url(https://i.pinimg.com/1200x/8e/09/62/8e0962df89fd623767c848a65e15b1b1.jpg);
}

.pomodoro {
    /* height: 20%; */
    background-image: url(https://i.pinimg.com/1200x/54/b5/85/54b58556cf0ebf24283c5c27478bca9f.jpg);
}

.calendar {
    /* height: 20%; */
    background-image: url(https://i.pinimg.com/736x/c2/b1/da/c2b1da3765dc3ae0ceef27711ca72a7b.jpg);
}

.focus {
    background-image: url(https://i.pinimg.com/1200x/fe/c1/ae/fec1aeac8142583f99d38e88f8754a88.jpg);
}

/* Row for todo + pomodoro */
.row {
    height: 20%;
    display: flex;
    gap: var(--space-md);
}

.row .box {
    flex: 1;
}



@media (min-width: 1024px) {

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: var(--space-lg);
        padding: var(--space-lg);
    }

    main .sidebar {
        grid-row: 1 / span 3;
        height: 100%;
        /* width: 20%;
        padding-top: var(--space-3xl);
        padding-bottom: var(--space-3xl); */
    }

    main .sidebar .sub-sec {
        flex-direction: column;
    }

    main .sidebar button {
        height: 5%;
        width: 40%;
    }

    main .sidebar .sub-sec .part1,
    main .sidebar .sub-sec .part2 {
        padding: var(--space-xl);
    }

    main .sidebar .sub-sec .part1 h3,
    main .sidebar .sub-sec .part2 h3 {
        font-size: 35px;
    }

    main .sidebar .sub-sec .part1 h3,
    main .sidebar .sub-sec .part2 h3 {
        font-size: 30px;
    }

    .box h1 {
        font-size: 30px;
    }

    .quote {
        grid-column: 2;
    }

    .goals {
        grid-column: 2;
    }

    .row {
        height: 100%;
        display: flex;
        gap: var(--space-lg);
    }

    .calendar {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .focus {
        grid-column: 2;
    }
}